<main>
<section>
 <button> <i class="fa-light fa-trash-can"></i>Reset</button> 
 <article class="card">
    <div class="card__container">
     <h2 class="card__name">Nombre apellido</h2>
     <p class="card__paragraph">Front-end developer</p>
     <div class="image"> </div>
         <nav >
            <ul class="list">
                <li class="list__elements"><i class="fa-solid fa-mobile-screen-button"></i></li>
                <li class="list__elements"><i class="fa-solid fa-envelope rrss"></i></li>
                <li class="list__elements"><i class="fa-brands fa-linkedin-in"></i></li>
                <li class="list__elements"><i class="fa-brands fa-github-alt"></i></li>
            </ul>
         </nav>
     </div>
 </article>
    <form>

     </form>
    

 
</section>
<section>


</section>


</main>