<main class="main__forflex">
  <section class="section__preview">
    <article class="card">
      <div class="card__section">
        <div class="reset__container">
      <button class="reset__button"><i class="reset fa-solid fa-trash-can"></i>Reset</button>
    </div>
      <div class="card__container">
        <div class="card__verticalBorder">
        <h2 class="card__name">Nombre apellido</h2>
        <p class="card__paragraph">Front-end developer</p>
      </div>
        <div class="image"></div>
        <nav>
          <ul class="list">
            <li class="list__elements">
              <i class="rrss fa-solid fa-mobile-screen-button"></i>
            </li>
            <li class="list__elements">
              <i class="fa-solid fa-envelope rrss"></i>
            </li>
            <li class="list__elements">
              <i class="rrss fa-brands fa-linkedin-in"></i>
            </li>
            <li class="list__elements">
              <i class="rrss fa-brands fa-github-alt"></i>
            </li>
          </ul>
        </nav>
      </div>
    </article>
  </div>
  </section>

  <section class="form-section">
    <form class="form" action="#" method="post">
      <fieldset>
        <div class="fill">
          <legend class="fill__title js__title">
          <i class="fa-solid fa-object-ungroup design-icon"></i>
           <span class="fill__title--text">Diseña</span><i class="fa-solid fa-angle-up js_arrow"></i>
          </legend>
        </div>
            <section class="designe-form">
            <legend class="color">Colores</legend>
            <div class="election">
        <label class="options" for="colors1"
          ><input
            id="colors1"
            type="radio"
            value="colors"
            name="colors"
          />
          <div class="first">
            <div class="rectangle1-a"></div>
            <div class="rectangle1-b"></div>
            <div class="rectangle1-c"></div>
          </div>
        
        </label>
        
        <label class="options" for="colors2"
          ><input
            id="colors2"
            type="radio"
            value="colors"
            name="colors"
          />
          <div class="second">
            <div class="rectangle2-a"></div>
            <div class="rectangle2-b"></div>
            <div class="rectangle2-c"></div>
          </div>
        </label>
        
        <label class="options" for="colors3"
          ><input
            id="colors3"
            type="radio"
            value="colors"
            name="colors" />
          <div class="third">
            <div class="rectangle3-a"></div>
            <div class="rectangle3-b"></div>
            <div class="rectangle3-c"></div>
          </div>
        </label>
            </div>
          </section>
      </fieldset>
  
  
 

   
   <fieldset>
    <section class="fill">
      
          <legend class="fill__title js__title">
            <i class="keyboard fa-solid fa-keyboard"></i
            ><span class="fill__title--text">Rellena</span
            ><i class="fa-solid fa-angle-up js_arrow"></i>
          </legend>
      </section>
      <section class="fillform">
        <label class="fillform__label" for="name">Nombre Completo</label>
        <input
          class="fillform__input"
          placeholder="Ej: Sally Jill"
          id="name"
          type="text"
          name="name"
        />
        <label class="fillform__label" for="position">Puesto</label>
        <input
          class="fillform__input"
          placeholder="Ej: Front-end unicorn"
          id="position"
          type="text"
          name="position"
        />
        <label class="fillform__label" for="profile_image"
          >Imagen de perfil</label
        >
        <div class="fillform__image">
          <label class="fillform__image--button" for="image"
            >Añadir imagen</label
          >
          <input class="hidden" type="file" name="image" id="image" />

          <div class="fillform__image--square"></div>
        </div>
        <label class="fillform__label" for="email">Email</label>
        <input
          class="fillform__input"
          placeholder="Ej: sally.hill@gmail.com"
          type="email"
          id="name"
          name="name"
        />
        <label class="fillform__label" for="telephone">Teléfono</label>
        <input
          class="fillform__input"
          placeholder="Ej: 555-55-55-55"
          type="tel"
          id="telephone"
          name="telephone"
        />
        <label class="fillform__label" for="linkedin">LinkedIn</label>
        <input
          class="fillform__input"
          placeholder="Ej: linkedin.com/in/sally.hill"
          type="text"
        />
        <label class="fillform__label" for="github">Github</label>
        <input
          class="fillform__input"
          placeholder="Ej: @sally-hill"
          type="text"
        />

    </fieldset>
      
        <fieldset>
          <div class="share">
            <legend class="share__title js__title">
              <i class="fa-solid fa-share-nodes share-icon"></i
              ><span class="fill__title--text">Comparte</span
              ><i class="share-arrow fa-solid fa-angle-up js_arrow"></i>
            </legend>
            <div class="buttondiv">
              <button class="buttondiv-share">
                <i class="share-card fa-solid fa-address-card"></i> Crear tarjeta
              </button>
            </div>
            <div class="buttontwitter">
              <h6 class="buttontwitter-h6">La tarjeta ha sido creada:</h6>
              <p class="buttontwitter-paragraph">https://awesome-profile-card.com?id=A456DF0001</p>
              <button class="buttontwitter-button">
                <i class="fa-brands fa-twitter share-in-twitter"></i>
            Compartir en Twitter</button>
            </div>
          </div>
        </div> 
        </fieldset>
      
    </form>
  </section>
</main>
