<main class="main">
   <section class="main__section">
       <img class="main__section--img" src="./assets/images/logo-awesome-profile-cards.png" alt="imagen logo" title="logo"/>
    
   </section>

  <section  class="main__section">
      <h1 class="main__section--title">Crea tu tarjeta de visita</h1>
      <p class="main__section--paragraph">Crea mejores contactos profesionales de forma fácil y cómoda</p>
  </section>
  <section>
   
    <div><i class="fa-solid fa-object-ungroup"></i>
        <p>Diseña</p>
    </div>
    <div>

    <i class="fa-solid fa-keyboard"></i>
    <p>Rellena</p>
</div>
    <div>
        <i class="fa-solid fa-share-nodes"></i>
    <p>Comparte</p> 
</div>
  </section>
  <section>
      <div>
          <a href="./design.html">Comenzar</a>
      </div>
  </section>

  
</main>