<main class="main">
    <div class="main__colcen"> <!--columna central-->
   <section class="main__section">
       <img class="main__section--img" src="./assets/images/logo-awesome-profile-cards.png" alt="imagen logo" title="logo"/>
    
   </section>

  <section  class="main__section">
      <h1 class="main__section--title">Crea tu tarjeta de visita</h1>
      <p class="main__section--paragraph">Crea mejores contactos profesionales de forma fácil y cómoda</p>
  </section>

  <section class="main__section--wrapper">
    <div class="main__icon"><i class="fa-solid fa-object-ungroup icon-index-main"></i>
    <p class="main__icon--paragraph">Diseña</p>
    </div>

    <div class="main__icon">
    <i class="fa-solid fa-keyboard icon-index-main"></i>
    <p class="main__icon--paragraph">Rellena</p>
    </div>
    
    <div class="main__icon">
        <i class="fa-solid fa-share-nodes icon-index-main"></i>
    <p class="main__icon--paragraph">Comparte</p> 
    </div>
    </section>

  <section class="main__section main__last">
      <div class="main__link--div">
          <a class="main__link--link" href="./design.html">Comenzar</a>
      </div>
  </section>
</div>
</main>